.imform {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem;
}

.imform__greet {
  color: rgb(236, 31, 4);
  padding-bottom: 0.3rem;
}

.imform__news {
  color: #444545;
}
