.about__container {
  min-height: 60vh;
  width: 70%;
  margin: auto;
  padding: 1rem 0;
}

.about__title {
  font-size: 2.5em;
  font-weight: 800;
  margin: 1rem 0;
}

.first__char {
  font-size: 1.5em;
}

.a {
  color: #444545;
  font-size: 1.3em;
}

.m {
  color: rgb(236, 31, 4);
}

.about__p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
