.checkoutProduct {
  margin: 1.2rem;
  background: linear-gradient(
    to bottom,
    rgba(204, 34, 4, 0.267),
    rgba(199, 28, 5, 0.103)
  );
  padding: 1rem;
  height: 200px;
  justify-content: space-between;
}

.checkoutProduct img {
  width: 150px;
  height: auto;
}

.info {
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  flex-direction: row;
  width: 70%;
  padding-right: 1rem;
  font-size: 1.2em;
  line-height: 1.5;
}

.info .btn2 {
  height: fit-content;
  font-size: 1em;
}

@media (max-width: 840px) {
  .info {
    flex-direction: column;
  }

  .info .btn {
    padding: 0.5rem;
  }

  .checkoutProduct img {
    width: 100px;
  }
}
