.checkoutProduct {
  margin: 1.2rem;
  background: linear-gradient(
    to bottom,
    rgba(204, 34, 4, 0.267),
    rgba(199, 28, 5, 0.103)
  );
  padding: 1rem;
  height: fit-content;
  justify-content: space-between;
}

.checkoutProduct img {
  width: 150px;
  height: auto;
}

.info {
  min-height: 150px;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  flex-direction: row;
  width: 70%;
  padding-right: 1rem;
  font-size: 1.2em;
  line-height: 1.5;
}

.info .btn2 {
  height: fit-content;
  font-size: 1em;
}

@media (max-width: 840px) {
  .checkoutProduct {
    margin: 0.8rem 0;
    padding: 1rem;
    height: fit-content;
    justify-content: space-between;
  }

  .checkoutProduct img {
    width: 70px;
    height: 70px;
  }

  .checkoutProduct__img {
    justify-content: center;
    align-items: center;
  }

  .info {
    min-height: 0;
    flex-direction: column;
    width: 70%;
    padding-right: 0;
    font-size: 0.9em;
  }

  .info .btn2 {
    height: fit-content;
    font-size: 0.7em;
    padding: 0.4rem;
  }
}
