.subtotal {
  width: fit-content;
  min-width: 200px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   background-color: #606363; */
  border: 1px solid rgb(236, 31, 4);
  padding: 1em;
}

.subtotal__value {
  margin-top: 0;
}

.subtotal .btn {
  margin-top: 1rem;
  width: 100%;
}
