.premium .product {
  width: 98%;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem;
  width: 90%;
  max-height: 400px;
  min-width: 150px;
  background-color: #60636380;
  z-index: 1;
  margin: 0.7rem;
}
.product:hover {
  box-shadow: 0px 0px 3px 3px #4747474b;
  transform: scale(1.01);
}

.product .about__product {
  width: 100%;
  color: #fff;
}
.product .about__product .product__details {
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.product img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media (max-width: 700px) {
  .premium .product {
    width: 90%;
    margin: auto;
  }

  .product {
    min-width: 0;
    margin: 0.7rem auto;
  }
}
