.home-container {
  margin: auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.banner-container {
  height: 70vh;
  color: #000;
  z-index: 1;
  align-items: center;
  font-weight: 800;
}

.bannerImg__container {
  height: 600px;
  width: 100%;
  z-index: -1;
}

.banner {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.028));
  /* margin-bottom: -5rem; */

  height: auto;
}

.banner-container .container {
  margin-top: -36rem;
  padding: 3rem 2rem 1rem;
  background-color: rgba(255, 255, 255, 0.712);
  width: 90%;
}

.banner-container h1 {
  font-size: 3em;
}

.quotes {
  font-size: 1.5em;
  margin: 2rem auto;
  z-index: 2;
  line-height: 1.5;
}

.animated__text {
  margin-top: 1.5rem;
  font-size: 1.5em;
}

.banner-container .container .btn {
  font-size: 1em;
  padding: 0.7rem 1rem;
}

/*////////// Mobile Version ////////////*/

@media (max-width: 595px) {
  .home-container {
    margin-top: 2rem;
  }

  .banner-container .container {
    margin-top: -35rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 85%;
  }
}

@media (max-width: 700px) {
  .home-container {
    padding: 0 1rem;
  }

  .home .container .one__row {
    flex-direction: column;
  }

  .home .container .grid__3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner-container h1 {
    font-size: 2.2em;
  }

  .quotes {
    font-size: 1.2em;
    margin: 1rem auto;
    z-index: 2;
    line-height: 1.5;
  }

  .animated__text {
    font-size: 1.2em;
  }
}
