.home-container {
  margin: auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.banner-container {
  height: 70vh;
  color: #000;
  /*   z-index: 1; */
  align-items: center;
  font-weight: 800;
}

.bannerImg__container {
  height: 600px;
  width: 100%;
  z-index: -1;
}

.banner {
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.028) 80%
  );

  height: 100%;
}

.banner-container .container {
  margin-top: -36rem;
  padding: 3rem 2rem 1rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.986) 50%,
    rgba(255, 255, 255, 0.212)
  );
  width: 90%;
}

.banner-container h1 {
  font-size: 3em;
}

.quotes {
  font-size: 1.5em;
  margin: 2rem auto;
  z-index: 2;
  line-height: 1.5;
}

.animated__text {
  margin-top: 1.5rem;
  font-size: 1.5em;
}

.buttons {
  width: 90%;
  justify-content: space-evenly;
}

.banner__btn {
  width: 155px;
  font-size: 1.5em;
}

.intro {
  width: 100%;
  padding: 1.5rem;
  margin: 10rem auto 3rem;
}

.title {
  margin-top: 3rem;
}

.yout__video {
  width: 50%;
  margin: 3rem auto;
}

.one__row {
  width: 100%;
  margin: 3rem 0;
}

.last__featured {
  grid-column: 2/4;
  grid-row: 2/3;
  width: 100%;
  padding: 0;
}

/*//////// Our Serveces ///////////*/

.our__services {
  padding: 1rem;
}

.our__services p {
  font-size: 1.5rem;
}

.our__services ul {
  padding: 1.5rem 2.5rem;
  width: fit-content;
  list-style: none;
}

.our__services ul li {
  font-size: 1.4em;
  margin: 1rem 0;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.5s;
}

.our__services ul li:before {
  content: "";
  border-color: transparent rgba(236, 31, 4, 0.74);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1.5rem;
  position: relative;
}
.our__services ul li:hover .li__svg,
.our__services ul li:hover {
  opacity: 1;
  color: rgba(236, 31, 4, 0.808);
}

.li__svg {
  opacity: 0.15;
  margin: 0.5rem;
  transition: 0.5s;
}

/*//////// Why trust us ////////////*/

.trust__us-p {
  font-size: 1.3em;
  margin: 1rem;
}

.member {
  margin: 2rem 0rem 0;
  background-color: #fff;
  padding: 2rem;
}

.member__image {
  width: 350px;
  height: 330px;
  border-radius: 50%;
  object-fit: cover;
}

.member__quotes {
  height: 100%;
  justify-content: space-between;
  margin: 2rem;
}

.member__title {
  font-size: 1.5em;
}

.small {
  font-size: 1.2em;
  margin: 1rem 0.5rem;
}

.member__name {
  font-size: 1.5em;
  font-weight: 600;
  color: rgba(236, 31, 4, 0.74);
  width: 100%;
  text-align: right;

  margin-top: 9rem;
}

.cta__title {
  width: 100%;
  text-align: center;
}

/*////////// Mobile Version ////////////*/

@media (max-width: 595px) {
  .home-container {
    margin-top: 2rem;
  }

  .banner-container .container {
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 85%;
  }
}

@media (max-width: 700px) {
  .home-container {
    padding: 0 1rem;
  }

  .home .container .one__row {
    flex-direction: column;
  }

  .home .container .grid__3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner-container h1 {
    font-size: 2.2em;
  }

  .quotes {
    font-size: 1.2em;
    margin: 1rem auto;
    z-index: 2;
    line-height: 1.5;
  }

  .animated__text {
    font-size: 1.2em;
  }
}
