.mobile__header,
.header {
  height: 60px;
  background-color: #131921;
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: #fff 3.5px solid;
  box-shadow: 0px 0 5px 5px rgba(0, 0, 0, 0.603);
}
.header__container {
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
}

.header .logo {
  width: 60px;
  height: 50px;
  object-fit: contain;
  margin: 0 0.5rem;
}

.header-search {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 5px;
}

.search-input {
  width: 100%;
  height: 24px;
  padding: 0.7rem;
  border: none;
  font-family: sans-serif;
  letter-spacing: 0.05em;
}
.search-input:focus {
  outline: none;
}

.header .search-icon {
  padding: 0.2rem;
  height: 24px;
  background-color: rgba(236, 31, 4, 0.829);
  color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 0.7em;
  color: #fff;
}

.header-option {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 0.7rem 0 0;
  cursor: pointer;
}

.header-option .line-1 {
  font-size: 0.8em;
  font-weight: 300;
}

.header-option .line-2 {
  font-size: 0.9em;
  font-weight: 500;
}

.card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.mobile__header__nav {
  display: none;
}

/*//////// Mobile Nav //////////*/

.items-inCart {
  font-size: 0.8em;
}

.mobile__header {
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 700px) {
  .header {
    display: none;
  }

  .mobile__header {
    display: block;
  }

  .header__container {
    justify-content: space-between;
  }

  .mobile__header__nav {
    position: fixed;
    top: 60px;
    background-color: #fff;
    color: #000;
    height: 50vh;
    width: 98vw;
    margin: auto;
    right: 0rem;
    transition: 0.5s;
    z-index: 2;
    padding: 0.5rem;
    display: block;
  }

  .menu__icons {
    margin: 0 1rem;
  }

  .header-option {
    color: #000;
    font-size: 1.3em;
    margin: 0.1rem 0;
    padding: 0.5rem;
  }

  .header-option .line-1 {
    font-size: 0.9em;
  }

  .header-option .line-2 {
    font-size: 1em;
  }

  .header-option:hover .line-2 {
    text-decoration: underline;
  }

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 2;
    display: block;
  }

  .slide {
    top: -50rem;
  }

  .hide {
    display: none;
  }
}
