.member {
  border-radius: 3px;
  box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, 0.028);

  width: 200px;
  margin: 1rem;
  margin-top: 1.5rem;
}

.member__image-container {
  height: 100%;
  width: 100%;
}

.member__image {
  object-fit: fill;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  height: 130px;
  width: 100%;
}

.member__quotes {
  justify-content: space-between;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: #464747dc;

  padding: 0.5rem 0.6rem 0.2rem;
}

.member__title {
  font-size: 1.2em;
}

.small {
  font-size: 1em;

  font-size: 0.9em;
  margin: 0;
}

.member__name {
  font-weight: 600;
  font-size: 1.2em;

  color: rgba(236, 31, 4, 0.74);
  width: 100%;
  margin-right: 2rem;

  margin-top: 0;
}

@media (max-width: 840px) {
  .member {
    width: 85%;
    margin: 2rem auto;
  }

  .member__image-container {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .member__image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
}

@media (max-width: 595px) {
  .member {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;
  }
}

@media (max-width: 350px) {
  .member__image {
    height: 150px;
    width: 150px;
  }
}
