.footer {
  align-items: center;
  background-color: #444545;
  color: #fff;
}
.footer__container {
  align-items: center;
  padding-bottom: 0.5em;
}

.footer__main {
  justify-content: center;
  width: 100%;
  margin: auto;
}

.social__link {
  margin: 1rem;
}

.social__link:hover {
  text-decoration: underline;
}

.social__link-icon {
  margin-right: 0.5rem;
}

.social__link-name {
  font-size: 1.3em;
}

/* //////// */

.footer__bottom {
  justify-content: space-between;
  width: 100%;
}

.policies__option {
  margin: 0 0.5rem;
}

.policies__option:hover {
  text-decoration: underline;
}

.change__BGcolor {
  position: fixed;
  border-radius: 50%;
  padding: 0.8rem;
  border: #fff solid 1px;
  top: 80%;
  right: 5rem;
  z-index: 5;
}

@media (max-width: 700px) {
  .footer__container {
    align-items: center;
    padding: 0 1rem;
  }

  .footer__main {
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  /* .social {
    margin: 1;
  } */

  .footer__bottom {
    padding-bottom: 0.3rem;
  }

  .policies {
    align-items: flex-end;
  }

  .copyright,
  .policies__option {
    font-size: 0.8em;
  }

  .policies__option {
    margin: 0 0.2rem;
  }

  .change__BGcolor {
    top: 90%;
    right: 1rem;
  }
}
