.footer {
  align-items: center;
  background-color: #444545;
  min-height: 300px;
  padding: 0 1rem;
}
.footer__container {
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}

.change__BGcolor {
  position: fixed;
  border-radius: 50%;
  padding: 0.8rem;
  border: #fff solid 1px;
  top: 80%;
  right: 5rem;
}
