.login {
  height: fit-content;
  margin: auto;
  align-items: center;
}
.login a:hover {
  text-decoration: underline;
}

.login__container {
  margin: 1rem auto;

  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.034);
  width: 750px;
  height: 550px;

  background: #444545;
}

.logo {
  width: 100%;
  margin: auto;
  text-align: center;
}

.logo img {
  object-fit: contain;
  padding: 0.8rem 0.3rem;
  width: 25%;
  margin: auto;
  background-color: #fff;
}

.login-form__container {
  padding: 1rem;
  width: 45%;
  background: #fff;
}

.login-form__container h1 {
  text-align: center;
  margin: 0.7rem;
}

.form {
  align-items: center;
  justify-content: space-around;
}

.form .btn {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
}

.input__container {
  width: 100%;
}

.input {
  width: 96%;
  padding: 0.2rem;
  margin: 0 0 0.5rem;
  font-size: 1em;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #535353;
}

.input:focus {
  outline: none;
}

.create__notice {
  margin-top: 1rem;
}

.register {
  background-color: inherit;
  font-weight: 600;
  color: rgb(236, 31, 4);
  border: none;
  cursor: pointer;
}
.register:hover {
  text-decoration: underline;
}

.visuals {
  width: 55%;
  background-color: inherit;
}

.visuals img {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

@media (max-width: 700px) {
  .login {
    margin-top: 1rem;
    width: 85%;
  }
}
