* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*////////////// Utilities ///////// */

.container {
  max-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex__col {
  display: flex;
  flex-direction: column;
}

.grid__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid__4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  border: none;
  background-color: rgba(236, 31, 4, 0.678);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(236, 31, 4);
}

.rating__stars {
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(255, 115, 0);
}

.link {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}
