* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 249, 249);
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  display: flex;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*////////////// Utilities ///////// */

.container {
  max-width: 1200px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;
}

.grid__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid__4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  border: none;
  background-color: #444545;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background-color: #313131;
}

.btn2 {
  border: none;
  background-color: rgb(236, 31, 4);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 3px;
}

.btn2:hover {
  background-color: rgb(199, 28, 5);
}

.rating__stars {
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(255, 115, 0);
  cursor: pointer;
}

.reviews {
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.link {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

.slide {
  top: -50rem;
}

.fade {
  opacity: 0;
}

.fade2 {
  opacity: 0;
  z-index: -1;
}

.title {
  color: rgb(236, 31, 4);
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.title2 {
  color: rgb(236, 31, 4);
  font-size: 1.7em;
  width: fit-content;
  margin: 1em 0;
}

.title3 {
  color: rgb(236, 31, 4);
  font-size: 2em;
  width: fit-content;
  margin-top: 2.5rem;
}

.danger {
  color: red;
}

.success {
  color: green;
}
