* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  min-height: 100vh;

  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*////////////// Utilities ///////// */

.container {
  max-width: 1240px;
  margin: auto;
}

.flex {
  display: flex;
}

.flex__col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid__4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  border: none;
  background-color: #444545;
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #313131;
}

.btn2 {
  border: none;
  background-color: rgb(236, 31, 4);
  color: #fff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btn2:hover {
  background-color: rgb(199, 28, 5);
}

.rating__stars {
  font-size: 1.5em;
  font-weight: 800;
  color: rgb(255, 115, 0);
}

.link {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

.slide {
  top: -50rem;
}

.fade {
  opacity: 0;
}

.title {
  color: rgb(236, 31, 4);
  font-size: 2em;
  border-top: 1px solid rgb(236, 31, 4);
  width: fit-content;

  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
