.products__container {
  background-color: rgba(255, 255, 255, 0.692);
  padding: 1.5rem;
}

.header {
  position: relative;
}

.products__breadcromes {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 6;
}

@media (max-width: 700px) {
  .products__container {
    width: 100%;
    padding: 0 0.5rem;
  }

  .products__container .grid__3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
